@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TALLAMOND AERO</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Tallamond AERO</h2>
        <p>
            Welcome to TALLAMOND AERO. We specialize in Aircraft Parts Sales, 
            PMA Parts Sales and Distribution, Adhesives, Tapes, Abrasives, Coatings, 
            Tooling, Sealants, Composites and Chemicals. Check out our outstanding portfolio, 
            and get in. Please check our stock and parts capabilities at http://www.business.aero/.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Our Services</h2>
        <p>TALLAMOND is a worldwide supplier of aircraft parts and aviation services to the airlines, aircraft operators, airframe manufacturers and MRO (Maintenance, Repair and Overhaul) operations.</p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Aircraft Parts</h2>
        <p>We sell aircraft parts for various aircrafts including: Airbus A320, A321, A330, A340, A380, Boeing B737, B747, B757, B767, B777, B787, and more....</p>
        <p><a class="btn btn-default" href="http://www.business.aero/">Check out &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Aviation Chemicals</h2>
        <p>TALLAMOND offers a complete Aviation Chemicals, supplies and products specifically manufactured for the aviation industries. Buy everything you need in one place. We provide Mold Preparation, Metal Surface Treatment, Surfacing Composite Films,Structural Bonding Adhesive Films, Sealants, Tapes, Oils, Greases and Lubricants</p>
        <p><a class="btn btn-default" href="http://www.business.aero/">Check out &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Aviation Virtual Office</h2>
        <p>Our virtual reception phone answering service will give your business the professional circumstance to grow and improve your customer service quality while eliminating potential overhead. Also, make Your Business more convenient in US. By operating your business virtually from our USA office location, for a very low monthly cost you can: Have a professional business address in US mail drop off and pickup package delivery lobby directory listing guest reception service Tallamond aviation event membership. </p>
        <p><a class="btn btn-default" href="http://www.business.aero/">Check out &raquo;</a></p>
    </div>
</div>